# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios

# Android FFmpeg generated artifacts
/android/ffmpeg/build/
/android/ffmpeg/source/
/android/app/src/main/jniLibs/*/libffmpeg.so
/android/app/src/main/assets/ffmpeg/*/ffmpeg
